<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataDrivenFramework">
  <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="com.Sakiv.Listners.CustomListners"/>
  </listeners>
  <test name="Bank Manager Login Test">
    <classes>
      <class name="com.Sakiv.TestCases.BankManagerLoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Add Customer Test">
    <classes>
      <class name="com.Sakiv.TestCases.AddCustomerTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Open Account">
    <classes>
      <class name="com.Sakiv.TestCases.OpenAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
